<div class="text-center pt-2">
    <h1>Pedidos</h1>
</div>

<div class="pt-5 row justify-content-center gap-2">
    <% requests.forEach(function(request){ %>
        <div class="col">
            <div class="card p-4 pb-0 rounded-5 border-att" style="width: auto;">
                <div class="text-attributes">
                    <h4><%= request.request_name %></h4>
                </div>
                <div class="d-flex justify-content-evenly flex-wrap">
                    <div>
                        <img src="<%= request.photo %> " class="card-img-left p-2 w-100 h-auto" alt="logoDog">
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-center gap-4">
                        <% if(request.request_name === 'Reportar desaparecido' || request.request_name === 'Adicionar animal'){ %>
                            <a href="/missing/report/<%-request.id_request %> " class="anchor-att">Formulário</a>
                         <% }else{ %>
                            <a href="/animal/profile/<%= request.id_animal %> " class="anchor-att">Detalhes do animal</a>
                            <a href="/missing/data/<%-request.id_request_type %> " class="anchor-att">Formulário</a>
                        <% } %>
                    </div>
                </div>
                <input name="requestID" id="requestID" value="<%= request.id_request%>" hidden>
                <div class="d-flex justify-content-center align-items-center w-100 h-70px gap-4">
                    <button type="button" onclick="reproveRequest()" class="btn-decoration"><img src="/images/icons/close.svg" class="h-50px" alt="iconClose"></button>
                    <button type="button" onclick="acceptRequest()" class="btn-decoration"><img src="/images/icons/accept.svg" class="h-50px" alt="iconAccept"></button>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script src="/js/reproveRequest.js"></script>
<script src="/js/acceptRequest.js"></script>

<style>
    .text-attributes{
        color: #CE8926;
        text-align: center;
    }

    .anchor-att{
        text-decoration: none;
        color: black;
    }

    .border-att{
        border: 3px solid #CE8926;
    }

    .h-70px {
        height: 70px;
    }

    .h-50px{
        height: 50px;
    }

    .btn-decoration{
        border: none;
        background-color: white;
    }

</style>