<div class="d-flex flex-wrap ps-4 gap-4 pt-2">
  <button class="btndef">Todos</button>
  <button class="btndef">Cães</button>
  <button class="btndef">Gatos</button>
</div>

<div class="d-flex flex-wrap justify-content-center gap-4 py-4">
  <% animals.forEach(function(animal){ %>
    <div class="card rounded-5" style="width: 18rem;">
      <div>   
        <a href="/animal/profile/<%-animal.id_animal%>">
        <img src="/images/logo/dog.svg" class="card-img-top p-4" alt="logoDog">
        </a>
      </div>
      <div class="card-body text-center py-1">
        <div class="pb-3">
          <h4 class="card-title"> <%= animal.name%> </h4>
          <p class="card-text"> <%= animal.age.years %> anos, <%= animal.age.months %> meses, <%= animal.age.days %> dias</p>
          <p class="card-text"> <%= animal.gender %> </p>
        </div>
        <div class="pb-2">
          <a href="/adopt/form/<%-animal.id_animal%>" class="btn card-button">Adotar</a>
          <a href="/adopt/patronize-form/<%-animal.id_animal%>" class="btn card-button">Apadrinhar</a>
        </div>
      </div>
    </div>
  <% }) %> 
</div>


<style>
  .btndef{
    width: 5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: #CE8927;
    border: solid #CE8927;
    color: white;
  }

  .card-button{
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #D14C1F, #F39200, #ECB800);
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 2px;
  }

</style>

