<%- include('../partials/head', {title: 'Adopt list'}) %>

<body>

  <% if(type === "cats"){ %> 
      <h1><%= type %> catalog</h1>
    <% }else if(type === "dogs"){ %>
      <h1><%= type %> catalog</h1>
    <% }else if(type === "missing"){ %>
      <h1><%= type %> catalog</h1>
    <% }else{ %>
      <h1>Cannot find <em><%= type %></em></h1>
  <% } %>   

  <% include ../partials/scripts %>
</body>