<%- include('../partials/head', {title: 'Animals List'}) %>

<body>

    <ul>
      <% animals.forEach(function(animal){ %>
        <li>
          <%= animal.name  %>
          <%=  animal.type %>  
          <%= animal.gender %>
          <%= animal.age %>
        </li>
      <% }); %> 
    </ul>

    <% include ../partials/scripts %>
</body>